@page
@model FamilyHub.IdentityServerHost.Pages.Organisations.OrganisationsWhichTypeModel
@{
}

<a asp-page="./OrganisationsStartPage" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <h1 class="govuk-heading-xl">Which type of organisation</h1>
    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l" style="border-style: none;">
    <form method="post">
        <input asp-for="@Model.OrganisationId" type="hidden">
        <div class="govuk-form-group">
            <label class="govuk-label" for="SelectedOrganisationType">
                Organisation Type
            </label>
            <select class="govuk-select" id="SelectedOrganisationType" name="SelectedOrganisationType" asp-for="SelectedOrganisationType" asp-items="Model.OrganisationTypeList"></select>
            <span asp-validation-for="SelectedOrganisationType" class="text-danger"></span>
        </div>

        <div class="govuk-form-group">
            <label class="govuk-label" for="SelectedAuthority">
                Local Authority
            </label>
            @if(!User.IsInRole("DfEAdmin") && Model.OrganisationId != null)
            {
                <input asp-for="@Model.SelectedAuthority" name="SelectedAuthority" type="hidden" />
                <input asp-for="SelectedAuthorityName" class="govuk-input govuk-!-width-one-half" readonly aria-required="true" />
            }
            else
            {
                <select class="govuk-select" id="SelectedAuthority" name="SelectedAuthority" asp-for="SelectedAuthority" asp-items="Model.AuthorityList"></select>
            }
            <span asp-validation-for="SelectedAuthority" class="text-danger"></span>
        </div>
        <div class="moj-button-action">
            <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
        </div>
    </form>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
